@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

header {
    text-align: center;
    padding: 10px;
    background-color: #f4f4f4;
}

img {
  width: 200px;
  display: block;
  margin: 0 auto;
}

.imgportafolio {
  border-radius: 50%;
  margin-bottom: 20px;
}

.imgproyectopkmn .certificados {
  width: 300px;
  margin-top: 10px;
}

section {
    margin: 20px;
}

.proyectos {
    width: 200px; /* Square dimensions */
    height: 200px;
    border: 1px solid #ccc;
    margin: 10px;
    display: inline-block; /* Aligns the containers side by side */
    text-align: center;
    line-height: 200px; /* Vertically centers the text */
}

h1, h2 {
    color: #333;
}

#bio, #proyectos {
    background-color: #e9e9e9;
    padding: 15px;
}

footer {
    background-color: #a15725;
    text-align: center;
    color: white;
    padding: 10px;
}

